.paste {
  margin-left: 20px;
  margin-right: 20px;
}

.h-captcha {
  display: inline-block;
}

textarea {
  resize: vertical;
  font-family: Ubuntu Mono, monospace;
  line-height: 1.25rem;
}

.main {
  max-width: 70%;
  margin-left:15%;
  margin-top: 1%;
}

pre {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.notification {
  margin-top: -15px;
}

.notifications {
  position: fixed;
  z-index: 100;
  margin-top: -20px;
  margin-left: 1%;
  width: 98%;
}

.p-code-numbered__line {
  line-height: 0.9 !important;
  overflow-x: visible;
  white-space: pre;
}

.p-code-numbered {
  line-height: 0 !important;
}

@media only screen and (max-width: 800px) {
  .main {
    max-width: 100%;
    margin-left: 3%;
  }

  .p-code-numbered__line {
    line-height: 1;
  }  
}
