<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__item" href="{{ url_for("index") }}">
          <img class="p-navigation__image" src="/img/favicon-white.svg" alt="Canonical">
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Valikko</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Sulje valikko</a>
    </div>
    <nav class="p-navigation__nav" aria-label="Example main navigation with a search box component">
      <span class="u-off-screen">
        <a href="#main-content">Hyppää pääsisältöön</a>
      </span>
      <ul class="p-navigation__items">
        {% for document in documents %}
          {% if document.visible %}
            <li class="p-navigation__item"><a class="p-navigation__link" href="{{ document.url }}">{{ document.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if config["ENABLE_SEARCH"] %}
      <form class="p-search-box is-dark" action="{{ url_for("search_paste") }}">
        <input aria-label="search" type="search" class="p-search-box__input" placeholder="Hae julkisia pasteja" value="{{ query }}" name="q" autocomplete="on" required="">
        <button type="reset" class="p-search-box__reset"><i class="p-icon--close"></i></button>
        <button type="submit" class="p-search-box__button"><i class="p-icon--search"></i></button>
      </form>
      {% endif %}
    </nav>
  </div>
</header>
